.containerPerfilProf{

    background-color:#f9f9f9;
    text-align: center;
   
}


.messagensContainer{

    background-color:#f9f9f9;

}


.checked{
    color:orange;
}


.isMatch{

    color:white;
    background-color: #f97878;
 
}

